{% extends 'base.html.twig' %}
{% block body %}
    <div id="inner">
        <section class="nmb behind-header">
            <div class="hero">
                <div style="background-image: url({{ asset('upload/') ~ project.backgroundImg }});" class="bg faded"></div>
                <div class="vcenter">
                    <div class="container mb-xl">
                        <div class="grid">
                            <div class="col-1" style="visibility: hidden;">{{ project.name }}</div>
                            <div class="col-7">
                                <h1 class="animatedText">{{ project.name }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-xl">
            <div class="container">
                <div class="grid content">
                    <div class="col-offset-1 col-3">
                        <p>{{ project.description }}</p>
                    </div>
                    <div class="col-offset-1 col-1">
                        <div class="project-data">
                            <div class="title">Client</div>
                            <div class="desc">{{ project.client }}</div>
                        </div>
                        <div class="project-data">
                            <div class="title">Type</div>
                            <div class="desc">{{ project.types }}</div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="project-data">
                            <div class="title">Year</div>
                            <div class="desc">{{ project.year }}</div>
                        </div>
                        {% if project.agency != null and project.agency != '' %}
                        <div class="project-data">
                            <div class="title">Agency</div>
                            <div class="desc">{{ project.agency }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-xl">
            <div class="container">
                <div class="grid content">
                    <div id="img-carousel" class="titanSlider">
                        <ul class="slides">
                            <li class="slide"><img src="{{ asset('upload/') ~ project.portfolioImg }}" class="fw"></li>
                            <li class="slide"><img src="{{ asset('upload/') ~ project.portfolioImg }}" class="fw"></li>
                            <li class="slide"><img src="{{ asset('upload/') ~ project.portfolioImg }}" class="fw"></li>
                            <li class="slide"><img src="{{ asset('upload/') ~ project.portfolioImg }}" class="fw"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-xl" style="margin-top: 40px;">
            <div class="container">
                <ul class="accordion">
                    <li class="active">
                        <div class="head" style="text-align: center;">
                            <a href="{{ path('contactme') }}" onclick="window.location = '/contact-me'" style="text-decoration: none; text-align: center;">Contact me</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="prev-next-container mb-xl">
            <div class="container">
                <div class="grid content">
                    {% if projectbefore is defined and projectbefore %}
                    <div class="col-4">
                        <div class="vcenter link-container"><a href="{{ path('singleproject', {'id': projectbefore.id}) }}" class="prev-link">
                            <div class="project-title">{{ projectbefore.name }}</div>
                            <div class="link-title">Previous project</div></a>
                        </div>
                    </div>
                    {% endif %}
                    {% if projectbefore is defined and projectbefore %}
                    <div class="col-4">
                        <div class="vcenter link-container text-right"><a href="{{ path('singleproject', {'id': projectafter.id}) }}" class="next-link">
                            <div class="project-title">{{ projectafter.name }}</div>
                            <div class="link-title">Next project</div></a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}